table {
    width: 100%;
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #0f0f0f;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #8ac2f0;
}
